virtualenv
python-dotenv
mxnet-cu102==1.7.0
cython
opencv-contrib-python
onnxruntime
insightface==0.1.5
imutils
uuid
av
aiortc
aiohttp
asyncio
pyfiglet
colorful
iridi
fastapi
uvicorn
python-multipart
typing_extensions
gdown